// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Themes
$color-pri: #3A559B;
$color-sec: #006BB7;
$color-ter: #34A853;
$color-lgt: #EEEEEE;

$theme-1: #3A559B;
$theme-2: #819DCA;
$theme-3: #99C5E8;
$theme-4: #D7EDF9;
$theme-5: #F3660B;
$theme-6: #E07C3C;
$theme-7: #DEA33B;
$theme-8: #F3D764;
$theme-9: #AF0C13;
$theme-10: #E1373E;
$theme-11: #E55E63;


$color-text: #333333;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
