body {
    font-family: Arial, verdana, Helvetica Neue, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: $color-text;
}
h1{
    font-size: 28px!important;
}
h2{
    font-size: 23px;
    line-height: 28px;
    letter-spacing: .03em;
    font-weight: bold;
    margin: 0 0 15px 0;
}
h3{
    font-size: 20px;
    line-height: 28px;
}
h4{
    font-size: 1rem;
    line-height: 30px;
}
h5{
    font-size: 0.9rem;
    color: #949494;
}
p{

}

time{
    font-size: 0.9rem;
    color: #949494;
}
