/*//////////////////////MENU DESC//////////////////////////////*/
#menu-desk,
#menu-desk ul {
    list-style:none;
    padding:0px;
    margin:0px;
}
#menu-desk {
}
#menu-desk > li {
    display: inline-block;
}
#menu-desk li a {
    width: 100%;
    font-size: 16px;
    display: block;
    /*height: 68px;*/
    line-height: 45px;
    padding: 8px 20px;
    text-decoration: none;
}
#menu-desk ul {
    position:absolute;
    display:none;
    z-index:99999999999;
}
#menu-desk ul li a {
    min-width:100px;
    text-align:left;
    height:40px!important;
    line-height:20px!important;
}
#menu-desk > li > a {
    color:#333333;
    border-bottom: solid 3px #F1F1F1;
    -webkit-transition:All 1.02s ease;
    -moz-transition:All 1.02s ease;
    -o-transition:All 1.02s ease;
}
#menu-desk > li:hover > a{
    border-bottom: solid 3px $color-pri;
    -webkit-transition: All 1.02s ease;
    -moz-transition: All 1.02s ease;
    -o-transition: All 1.02s ease;
}
#menu-desk > li:focus > a{
    background-color: #333333;
}
#menu-desk ul {
    padding: 0px;
}
#menu-desk ul li a {
    color:#333333;
    display: block;
    /*background-color: $color-pri;*/
    background-color: #FFFFFF;
    margin-bottom: 0;
    width: 200px;
}
#menu-desk ul li:hover a{
    color: $color-pri;
    background-color: #f5f5f5;
    -webkit-transition: All 1.02s ease;
    -moz-transition: All 1.02s ease;
    -o-transition: All 1.02s ease;
}
#menu-desk li:hover ul.noJS {
    display: block;
}

.menu-desk-sub{
    padding: 10px 0!important;
    background-color: #FFFFFF;
    box-shadow: 1px 0 5px 0 #555555;
}
.menu-desk-sub > li > a {
    color:#333333;
    border-bottom: 0!important;
    border-left: solid 3px #FFFFFF;
    min-width: 100%!important;
    width: 100%!important;
}
.menu-desk-sub > li:hover > a{
    border-bottom: 0!important;
    border-left: solid 3px $color-pri;
}

@media  only screen and (max-width : 1201px) {
    #menu-desk li a {
        font-size: 14px;
        padding: 8px 15px;
    }
}
@media  only screen and (max-width : 995px) {
    #menu-desk li a {
        font-size: 12px;
        padding: 8px 5px;
    }
}
@media  only screen and (max-width : 900px) {
    #menu-desk li a {
        padding: 8px 9px;
    }
}
@media  only screen and (max-width : 768px) {
    #menu-desk li a {
        font-size: 14px;
        padding: 8px 15px;
    }
    #menu-desk {
        float:none;
    }
    #menu-desk > li {
        float:none;
    }
    #menu-desk li a {
        clear:both;
        padding: 8px 25px;
    }
    #menu-desk ul {
        position:inherit;
    }
    #menu-desk ul li a {
        color:#FFFFFF;
    }
    #menu-desk li:hover ul.noJS {
        display: block;
        width:100%;
    }
    #menu-desk ul li:hover a, ul.active{
        display: block;
    }
}
/*//////////////////////MENU CEL//////////////////////////////*/
.header-cel{
    width: 100%;
    top:0;
    position: fixed;
    z-index: 99999999999999999999;
    padding: 8px;
    border-bottom: solid 1px #CCCCCC;
    background-color: #FFFFFF;
    height: 75px;
}
.header-cel img{
    width: 220px;
}
.footer-cel{
    width: 100%;
    bottom:0;
    position: fixed;
    z-index: 99999999999999999999;
    padding: 6px 0 2px 0;
    border-top: solid 1px #CCCCCC;
    background-color: #FFFFFF;
}
.footer-cel p{
    margin: -7px 0 0 0;
    padding: 0;
    font-size: 11px;
}
.footer-cel i{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.footer-cel a{
    margin: 0;
    padding: 0;
}
.btn-cel{
    cursor: pointer;
    margin: 10px 0 0 28px;
}
.box-menu{
    position: fixed;
    background-color: rgba(0,0,0,0.50);
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
}
.menu-cel{
    background-color: #FFFFFF;
    width: 80%;
    height: 100%;
    margin-top: -80px;
    position: fixed;
    z-index: 999999999;
    padding-top: 10px;
}
.menu-cel ul{
    margin: 0;
    padding: 0;
}
.menu-cel ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-cel ul li a{
    padding: 8px 10px ;
    display: block;
    border-bottom: solid 1px rgba(0,0,0,.1);
    color: #333333!important;
    font-size: 17px;
}
.menu-cel ul li a:hover{
    background-color: $color-pri;
    color: #FFFFFF!important;
}
.menu-cel-redes {
    width: 400px;
}
.menu-cel-redes svg{
    font-size: 60px;
    padding: 0 8px 8px 8px;
    color: $color-pri;
}
.menu-cel-login{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.menu-cel-login li{
    display: block;
    margin: 35px 10px;
}
.menu-cel-login li a{
    padding: 10px;
    margin-bottom: 10px;
}
.menu-cel-login li:first-child{
    margin-top: 50px;
}
.menu-cel-login li:last-child{
    margin-bottom: 50px;
    margin-right: 20px;
    border-bottom: 0;
}
.hr-cel{
    padding: 0;
    margin: 0;
}
.ng-hide {
    width: 150px;
    opacity: 0;
}
.menu-left{
    margin: 0;
    padding: 0;
}
.menu-left li{
    display: inline-block;
    width: 100%;
    padding: 3px;
    border-bottom: solid 1px #EEEEEE;
}
.menu-left li a{
    display: block;
    width: 100%;
    padding: 10px;
    border-left: solid 3px #CCCCCC;
}
.menu-left li a:hover{
    border-left: solid 3px #3A559B;
}
.menu-left-active a{
    border-left: solid 3px #3A559B!important;
    color: #3A559B!important;
    font-weight: bold;
}
/*Menu*/
.box-floating{
    position: relative;
    z-index: 9999999999;
    float: right;
    right: 0;
    width: 300px;
    top: 20vh;
}
.box-floating{
    position: fixed;
    z-index: 2;
    float: right;
    right: 0;
    width: 80px;
}
.menu-icons-txt{
    display: none; //Começar Fechado
}
.menu-icons{
    margin: 0;
    padding: 0;
}
.menu-icons-close{
    margin-top: -10px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}
.menu-icons-close svg{
    margin-bottom: 20px;
}
.menu-icons li{
    display: inline-block;
    width: 100%;
    padding: 1px 0 0 0;
    border: 0;//Começar Fechado
    font-size: 15px;
    /*padding-bottom: 3px;
    margin-bottom: 2px;*/
}
.menu-icons li:first-child{
    border-bottom: 0;
}
.menu-icons li:last-child{
    border: 0;
}
.menu-icons div{
    background-color: #1b4b72;
    border-radius: 50%;
    padding: 4px;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    margin: 0 10px 0 0;
}
.menu-icons div svg{
    color: #FFFFFF;
    padding: 0px;
    margin: auto;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}
.menu-icons p{
    padding: 4px 0 0 0;
    margin: 0;
    /*margin-bottom: 8px!important;*/
}


/**/
.menu-txt-icon{
    margin: 0;
    padding: 0;
}
.menu-txt-icon li{
    display: inline-block;
    margin-bottom: 5px;
}
/**/
.menu-items{
    margin: 0 !important;
    padding: 0 !important;
}
.menu-items li{
    display: inline-block;
    width: 60px;
    margin: 10px;
    vertical-align:top;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
}
.menu-items li:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 1s;
    transition: 1s;
}
.menu-items p{
    height: 40px;
    line-height: 12px;
    font-size: 10px;
}
.menu-items svg{
    font-size: 10px;
    border-radius: 50%;
    background-color: #1b4b72;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    min-width: 60px;
    padding: 15px;
}
/**/
.menu-small{
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.menu-small li{
    display: inline-block;
    padding: 5px 10px 3px 10px;
    border-bottom: solid 2px #EEEEEE;
}
.menu-small li:hover{
    border-bottom: solid 2px #1b4b72;
}

@media only screen and (max-width : 480px) {
    .cel-footer{
        margin-bottom: 50px;
    }
}

.menu-area{
    margin: 0;
    padding: 12px;
}
.menu-area li{
    margin: 0;
    list-style: none;

}
.menu-area li a{
    display: block;
    padding: 5px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.menu-area li a:hover{
    color: #FFFFFF;
    background-color: $color-pri;
}


.box-menu-nav{
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
}
.box-menu-nav svg{
    margin: 8px 0;
    color: #CCCCCC;
}
.box-menu-nav p{
    margin-bottom: 0;
    min-height: 30px;
}
.box-menu-nav-selected{
    background-color: #F1F1F1;
    color: #333333;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.box-menu-nav-selected-active{
    background-color: $color-pri;
    color: #FFFFFF;

}
.box-menu-nav-selected-active svg{
    color: #FFFFFF;
}
.box-menu-nav-active svg{
    color: #FFFFFF;
}
.box-menu-line{
    background-color: #F1F1F1;
    height: 5px;
    position: relative;
    top: -48px;
    z-index: 0;
}
